<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
.upper{
  z-index:100;
}
    </style>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>
  <body>
    <div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="" id="first_name" type="text" class="validate">
        <label for="first_name">Name</label>
      </div>

    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate">
        <label for="password">Bloodtype</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate">
        <label for="email">Location</label>
      </div>
    </div>
    <a href='/home' class='upper'><button class="btn waves-effect waves-light">Submit
   <i class="material-icons right"></i></button></a>

  </form>
</div>
  </body>
</html>
